*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 90%;
    margin-top: 3%;
    margin-left: 7%;
}

.col-2{
    display: flex;
    align-items:start;
    flex-direction:column;
    height:50%;
    
}

.col-6{
    display: flex;
    align-items:center;
    flex-direction:column;
    height:50%;
}

.col-2 img{
    width: 100%; 
    height:6%;
    margin-bottom: 10%;
}

.col-6 img{
    width: 90%; 
    height:20%;
    margin-bottom: 10%;
}

.col-4{
    padding-top:3%;
    height:50%;
}

.btnTalla{
    width:3rem;
    height:3rem;
    border-radius:100px;
    border: none;
    border: 1px solid black;
    font-size:1.7rem;
    margin: 0 1%;
    background-color: white;

}


.btnCar .add{
    border: none;
    padding: 3%;
    background-color:black;
    width: 90%;
    margin-top: 7%;
    color:white;
    font-weight: 700;

}
.btnCar .buy{
    border: none;
    padding: 3%;
    background-color:blue;
    width: 90%;
    margin-top: 5%;
    color:white;
    font-weight: 700;
}


.description{
    margin-top: 8%;
}


/*sugerencias*/

.sugerencia{
    display: flex;
    flex-direction:column;

}

.conteSugerencias{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content:center
}

.h2{
    text-align: center;
    margin-bottom: 3%;
}

.card{
    width: 18%;
    margin: 0 3% 5% 0;
    
}


/*modal*/

.modal-dialog {
    position: relative;
    width: auto;
    /* margin: 0.5rem; */
    pointer-events: none;
}


.modal {
    position: fixed;
    top: -30px;
    left: 850px;
    z-index: 1055;
    display: none;
    width: 40%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    right: -3
}

.modalito{
    width: 100%;
    display:flex;

}

.modalito img{
    width: 40%;
}

.modalito .textModal{
    width: 100%;
    flex-direction: column;
}