*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;

}

.conteCards{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;
}

.conteCards .card{
    width: 26%;
    /* margin-bottom: 5%; */
    margin: 0 3% 3% 3%;
    text-align: center;
    border: none;
}
.conteCards .card-img-top{
    height: 70%;
}

.card-title{
    margin-top:5%
}