:root{

--colorPrincipal : #1D1D1D;
    --fontWeightParagraph : 400;
    --fontWeightTitle : 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    padding-block-end: 10px;
    position: sticky;
    background: white;
    top: 0;
    right: 0;
    left: 0;
  }
  
  .wrapper {
    max-width: 1366px;
    margin: auto;
  }
  
  .header-content-navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    background: white;
    /* position: fixed; */
    /* top: 0; */
  }
  
  .header-logo {
    width: 246px;
    margin-right: 251px;
    /* height: 40px; */
  }
  
  .header-main-menu {
    display: flex;
    gap: 32px;
    text-transform: uppercase;
    width: 254px;
    text-align: -webkit-match-parent;
    margin-inline-end: 358px;
  
  }
  
  .header-main-menu p {
    margin: 0;
    display: flex;
  }
  
  
  .header-main-menu p a {
    color: var(--colorPrincipal);
    font-size: 24px;
    text-decoration: none;
    font-weight: 400;
    margin: 0;
    height: 82px;
    display: flex;
    align-items: center;
  }
  
  .header-icons {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  .header-icons img {
    width: 25px;
    height: 25px;
    /* box-sizing: border-box; */
  }
  
  .icons-car p {
    font-size: 22px;
    border: 1px  var(--colorPrincipal);
    padding: 0 0 0 20px;
    margin: 0;
  }
  
  .icons-car {
    display: flex;
    align-items: center;
  }
  
  

main{
    width: 90%;
    margin-top: 3%;
    margin-left: 7%;
}

.col-2{
    display: flex;
    align-items:start;
    flex-direction:column;
    height:50%;
    
}

.col-6{
    display: flex;
    align-items:center;
    flex-direction:column;
    height:50%;
}

.col-2 img{
    width: 100%; 
    height:6%;
    margin-bottom: 10%;
}

.col-6 img{
    width: 90%; 
    height:20%;
    margin-bottom: 10%;
}

.col-4{
    padding-top:3%;
    height:50%;
}

.btnTalla{
    width:3rem;
    height:3rem;
    border-radius:100px;
    border: none;
    border: 1px solid black;
    font-size:1.7rem;
    margin: 0 1%;
    background-color: white;

}


.btnCar .add{
    border: none;
    padding: 3%;
    background-color:black;
    width: 90%;
    margin-top: 7%;
    color:white;
    font-weight: 700;

}
.btnCar .buy{
    border: none;
    padding: 3%;
    background-color:blue;
    width: 90%;
    margin-top: 5%;
    color:white;
    font-weight: 700;
}


.description{
    margin-top: 8%;
}


/*sugerencias*/

.sugerencia{
    display: flex;
    flex-direction:column;

}

.conteSugerencias{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content:center
}

.h2{
    text-align: center;
    margin-bottom: 3%;
}

.card{
    width: 18%;
    margin: 0 3% 5% 0;
    
}

.footer-container {
    background: var(--colorPrincipal);
    /* height: 320px; */
  }
  
  .footer-content {
    text-align: center;
    padding-block: 64px;
  }
  
  .footer-redes {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    margin-block-start: 48px;
  }
  
  .footer-redes a {
    padding-block: 24px;
    padding-inline: 22px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
  }